# Order is important. The last matching pattern has the most precedence.

*         @chef/chef-workstation-owners @chef/chef-workstation-approvers @chef/chef-workstation-reviewers @chef/chef-infra-reviewers @chef/chef-infra-approvers @chef/chef-infra-owners @jaymzh
